{
  "log": {
    "_recordingName": "fetchMetadata",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2531614bff07ad1a156094ab128f650a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/a76fc728-0cba-45f0-a9eb-d45207e14513/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1499,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 227,
      },
      {
        "_id": "0d4d60ea9e848636a220ced3447e81fb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=6)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 856,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata\",\"value\":[{\"name\":\"invitations\",\"kind\":\"EntitySet\",\"url\":\"invitations\"},{\"name\":\"users\",\"kind\":\"EntitySet\",\"url\":\"users\"},{\"name\":\"identityProviders\",\"kind\":\"EntitySet\",\"url\":\"identityProviders\"},{\"name\":\"applications\",\"kind\":\"EntitySet\",\"url\":\"applications\"},{\"name\":\"certificateBasedAuthConfiguration\",\"kind\":\"EntitySet\",\"url\":\"certificateBasedAuthConfiguration\"},{\"name\":\"directoryObjects\",\"kind\":\"EntitySet\",\"url\":\"directoryObjects\"},{\"name\":\"contacts\",\"kind\":\"E[...]
