{
  "log": {
    "_recordingName": "iterateDirectoryRolesInsufficientPermissions",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "3db0dede67f030aedd5ce9db2d3c5550",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/6fec25dd-44d2-4f61-a797-603edc73fb50/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1415,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 328,
      },
      {
        "_id": "d9e565d3719eff2974d6885edd10c878",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=6)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/directoryRoles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 349,
            "text": "{\r\n  \"error\": {\r\n    \"code\": \"Authorization_IdentityNotFound\",\r\n    \"message\": \"The identity of the calling application could not be established.\",\r\n    \"innerError\": {\r\n      \"date\": \"2021-01-13T20:00:17\",\r\n      \"request-id\": \"c2e797b7-04b1-43ed-9f26-276e7ea70072\",\r\n      \"client-request-id\": \"748098c1-260f-9de9-448a-104e021e0beb\"\r\n    }\r\n  }\r\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"Central US\",\"Slice\":\"SliceC\",\"Ring\":\"2\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"AGSFE_IN_21\"}}"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 231,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
