{
  "log": {
    "_recordingName": "iterateManagedDevicesWithAD",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2531614bff07ad1a156094ab128f650a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/a76fc728-0cba-45f0-a9eb-d45207e14513/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1687,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 374,
      },
      {
        "_id": "39cb0d299503e6ab1f6a07ceece09c83",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.2.1 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/organization"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 4250,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#organization\",\"value\":[{\"id\":\"a76fc728-0cba-45f0-a9eb-d45207e14513\",\"deletedDateTime\":null,\"businessPhones\":[],\"city\":null,\"country\":null,\"countryLetterCode\":\"US\",\"createdDateTime\":\"2019-09-04T16:59:36Z\",\"directorySizeQuota\":{\"used\":563,\"total\":50000},\"displayName\":\"Default Directory\",\"isMultipleDataLocationsForServicesEnabled\":null,\"marketingNotificationEmails\":[],\"onPremisesLastSyncDateTime\":null,\"onPremisesSyncEnabled\":null,\"postalCode\":null,\"preferredLanguage\":\"en\",\"privacyProfile\":null,\"securityComplianceNotificationMails\":[],\"securityComplianceNotificationPhones\":[],\"state\":null,\"street\":null,\"technicalNotificationMails\":[\"adam.jupiterone@hotmail.com\"],\"tenantType\":\"AAD\",\"assignedPlans\":[{\"assignedDateTime\":\"2021-02-15T15:32:43Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"exchange\",\"servicePlanId\":\"113feb6c-3fe4-4440-bddc-54d774bf0318\"},{\"assignedDateTime\":\"2021-02-15T15:32:43Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"Adallom\",\"servicePlanId\":\"2e2ddb96-6af9-4b1d-a3f0-d6ecfd22edb2\"},{\"assignedDateTime\":\"2021-02-15T15:32:43Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"AADPremiumService\",\"servicePlanId\":\"eec0eb4f-6444-4f95-aba0-50c24d67f998\"},{\"assignedDateTime\":\"2021-02-15T15:32:43Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"AADPremiumService\",\"serv[...]
