{
  "log": {
    "_recordingName": "fetchOrganizationInsufficientPermissions",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "3db0dede67f030aedd5ce9db2d3c5550",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/6fec25dd-44d2-4f61-a797-603edc73fb50/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1499,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 220,
      },
      {
        "_id": "39cb0d299503e6ab1f6a07ceece09c83",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=6)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/organization"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 693,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#organization\",\"value\":[{\"id\":\"6fec25dd-44d2-4f61-a797-603edc73fb50\",\"deletedDateTime\":null,\"businessPhones\":[],\"city\":null,\"country\":null,\"countryLetterCode\":\"US\",\"createdDateTime\":\"2020-06-28T17:00:37Z\",\"directorySizeQuota\":{\"used\":14,\"total\":50000},\"displayName\":\"J1 Insufficient Permissions\",\"marketingNotificationEmails\":[],\"onPremisesLastSyncDateTime\":null,\"onPremisesSyncEnabled\":null,\"postalCode\":null,\"preferredLanguage\":\"en\",\"privacyProfile\":null,\"securityComplianceNotificationMails\":[],\"securityComplianceNotificationPhones\":[],\"state\":null,\"street\":null,\"technicalNotificationMails\":[\"admin@adamjupiteronehotmailcom.onmicrosoft.com\"],\"assignedPlans\":[],\"provisionedPlans\":[],\"verifiedDomains\":[{\"capabilities\":\"Email, OfficeCommunicationsOnline\",\"isDefault\":true,\"isInitial\":true,\"name\":\"j1insufficientpermissions.onmicrosoft.com\",\"type\":\"Managed\"}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"East US\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"005\",\"RoleInstance\":\"AGSFE_IN_32\"}}"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 545,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
