{
  "log": {
    "_recordingName": "fetchNonComplianceFindings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2531614bff07ad1a156094ab128f650a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/a76fc728-0cba-45f0-a9eb-d45207e14513/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1687,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 425,
      },
      {
        "_id": "7cdb6ab8300492300d9031c465b304b5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.2.1 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/beta/deviceManagement/managedDevices"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 2400,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/beta/$metadata#deviceManagement/managedDevices\",\"@odata.count\":2,\"value\":[{\"id\":\"683dbff1-c8ff-4996-91ae-85484de46cfc\",\"userId\":\"001d35fc-dd2b-4d17-9ffc-3bafa265e7d9\",\"deviceName\":\"[REDACTED]\",\"ownerType\":\"personal\",\"managedDeviceOwnerType\":\"personal\",\"managementState\":\"managed\",\"enrolledDateTime\":\"2021-02-17T16:24:45Z\",\"lastSyncDateTime\":\"2021-03-01T16:23:39Z\",\"chassisType\":\"unknown\",\"operatingSystem\":\"iOS\",\"deviceType\":\"iPhone\",\"complianceState\":\"noncompliant\",\"jailBroken\":\"False\",\"managementAgent\":\"mdm\",\"osVersion\":\"14.4\",\"easActivated\":false,\"easDeviceId\":\"7CDT0MKDOH5FB0CKI5IVON0GJ8\",\"easActivationDateTime\":\"0001-01-01T00:00:00Z\",\"aadRegistered\":null,\"azureADRegistered\":null,\"deviceEnrollmentType\":\"deviceEnrollmentManager\",\"lostModeState\":\"disabled\",\"activationLockBypassCode\":null,\"emailAddress\":\"[REDACTED]\",\"azureActiveDirectoryDeviceId\":\"683dbff1-c8ff-4996-91ae-85484de46cfc\",\"azureADDeviceId\":\"683dbff1-c8ff-4996-91ae-85484de46cfc\",\"deviceRegistrationState\":\"registered\",\"deviceCategoryDisplayName\":\"Unknown\",\"isSupervised\":false,\"exchangeLastSuccessfulSyncDateTime\":\"0001-01-01T00:00:00Z\",\"exchangeAccessState\":\"none\",\"exchangeAccessStateReason\":\"none\",\"remoteAssistanceSessionUrl\":null,\"remoteAssistanceSessionErrorDetails\":null,\"isEncrypted\":true,\"userPrincipalName\":\"[REDACTED]\",\"model\":\"iPhone 11 Pro\",\"manufacturer\":\"Apple\",\"imei\":\"[REDACTED]\",\"complianceGracePeriodExpirationDateTime\":\"2021-02-17T19:13:41Z\",\"serialNumber\":\"[REDACTED]\",\"phoneNumber\":\"[REDACTED]\",\"androidSecurityPatchLevel\":\"\",\"userDisplayName\":\"Michael Knoedel\",\"configurationManagerClientEnabledFeatures\":null,\"wiFiMacAddress\":\"[REDACTED]\",\"deviceHealthAttestationState\":null,\"subscriberCarrier\":\"Sprint\",\"meid\":\"[REDACTED]\",\"totalStorageSpaceInBytes\":68719476736,\"freeStorageSpaceInBytes\":14481883136,\"managedDeviceName\":\"[REDACTED]\",\"partnerReportedThreatState\":\"unknown\",\"retireAfterDateTime\":\"0001-01-01T00:00:00Z\",\"preferMdmOverGroupPolicyAppliedDateTime\":\"0001-01-01T00:00:00Z\",\"autopilotEnrolled\":false,\"requireUserEnrollmentApproval\":null,\"managementCertificateExpirationDate\":\"2022-02-15T19:56:28Z\",\"iccid\":null,\"udid\":null,\"roleScopeTagIds\":[],\"windowsActiveMalwareCount\":0,\"windowsRemediatedMalwareCount\":0,\"notes\":null,\"configurationManagerClientHealthState\":null,\"configurationManagerClientInformation\":null,\"ethernetMacAddress\":null,\"physicalMemoryInBytes\":0,\"processorArchitecture\":\"unknown\",\"specificationVersion\":null,\"joinType\":\"unknown\",\"skuFamily\":\"\",\"skuNumber\":0,\"managementFeatures\":\"none\",\"hardwareInformation\":{\"serialNumber\":\"C39ZQB9SN6XQ\",\"totalStorageSpace\":0,\"freeStorageSpace\":0,\"imei\":\"353249104017369\",\"meid\":null,\"manufacturer\":null,\"model\":null,\"phoneNumber\":null,\"subscriberCarrier\":null,\"cellularTechnology\":null,\"wifiMac\":null,\"operatingSystemLanguage\":null,\"isSupervised\":false,\"isEncrypted\":false,\"batterySerialNumber\":null,\"batteryHealthPercentage\":0,\"batteryChargeCycles\":0,\"isSharedDevice\":false,\"tpmSpecificationVersion\":null,\"operatingSystemEdition\":null,\"deviceFullQualifiedDomainName\":null,\"deviceGuardVirtualizationBasedSecurityHardwareRequirementState\":\"meetHardwareRequirements\",\"deviceGuardVirtualizationBasedSecurityState\":\"running\",\"deviceGuardLocalSystemAuthorityCredentialGuardState\":\"running\",\"osBuildNumber\":null,\"operatingSystemProductType\":0,\"ipAddressV4\":null,\"subnetAddress\":null,\"sharedDeviceCachedUsers\":[]},\"deviceActionResults\":[],\"usersLoggedOn\":[{\"userId\":\"001d35fc-dd2b-4d17-9ffc-3bafa265e7d9\",\"lastLogOnDateTime\":\"2021-03-01T16:23:39.182Z\"}]},{\"id\":\"1f75329e-51fc-451c-bd40-c457337641a4\",\"userId\":\"\",\"deviceName\":\"[REDACTED]\",\"ownerType\":\"company\",\"managedDeviceOwnerType\":\"company\",\"managementState\":\"retireIssued\",\"enrolledDateTime\":\"2021-02-17T16:38:03Z\",\"lastSyncDateTime\":\"2021-02-18T16:26:58Z\",\"chassisType\":\"unknown\",\"operatingSystem\":\"macOS\",\"deviceType\":\"macMDM\",\"complianceState\":\"unknown\",\"jailBroken\":\"Unknown\",\"managementAgent\":\"mdm\",\"osVers[...]
