{
  "log": {
    "_recordingName": "fetchAccountNoMdm",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "73101f15b95fa52cbd96caad99319507",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/75f092de-c730-4a62-a1dd-4324cb0b83af/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1729,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 371,
      },
      {
        "_id": "39cb0d299503e6ab1f6a07ceece09c83",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.2.1 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/organization"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 1288,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#organization\",\"value\":[{\"@odata.id\":\"https://graph.microsoft.com/v2/75f092de-c730-4a62-a1dd-4324cb0b83af/directoryObjects/75f092de-c730-4a62-a1dd-4324cb0b83af/Microsoft.DirectoryServices.Organization\",\"id\":\"75f092de-c730-4a62-a1dd-4324cb0b83af\",\"deletedDateTime\":null,\"businessPhones\":[],\"city\":null,\"country\":null,\"countryLetterCode\":\"US\",\"createdDateTime\":\"2021-02-09T14:31:53Z\",\"displayName\":\"Org Outside J1\",\"isMultipleDataLocationsForServicesEnabled\":null,\"marketingNotificationEmails\":[],\"onPremisesLastSyncDateTime\":null,\"onPremisesSyncEnabled\":null,\"postalCode\":null,\"preferredLanguage\":\"en\",\"securityComplianceNotificationMails\":[],\"securityComplianceNotificationPhones\":[],\"state\":null,\"street\":null,\"technicalNotificationMails\":[\"michael.knoedel_adamjupiteronehotmailcom.onmicrosoft.cBQWNE#EXT#@fakedomainfortesting.onmicrosoft.com\"],\"tenantType\":\"AAD\",\"directorySizeQuota\":{\"used\":23,\"total\":50000},\"privacyProfile\":null,\"assignedPlans\":[],\"provisionedPlans\":[],\"verifiedDomains\":[{\"capabilities\":\"Email, OfficeCommunicationsOnline\",\"isDefault\":true,\"isInitial\":true,\"name\":\"orgoutsidej1.onmicrosoft.com\",\"type\":\"Managed\"}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"Central US\",\"Slice\":\"E\",\"Ring\":\"2\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"DS3PEPF00001823\"}}"
            },
            {
              "name": "x-ms-resource-unit",
              "value": "1"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 295,
      },
      {
        "_id": "a4373205396ce4d29a38efca61cb6a27",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.2.1 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$select",
              "value": "intuneAccountId"
            }
          ],
          "url": "https://graph.microsoft.com/v1.0/deviceManagement?%24select=intuneAccountId"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 460,
            "text": "{\r\n  \"error\": {\r\n    \"code\": \"BadRequest\",\r\n    \"message\": \"Request not applicable to target tenant.\",\r\n    \"innerError\": {\r\n      \"date\": \"2021-03-16T18:39:27\",\r\n      \"request-id\": \"155c8534-01f5-48cb-aafa-0d0350fe0b5c\",\r\n      \"client-request-id\": \"5364ec94-7a90-b2cc-b06a-1c5766136570\"\r\n    }\r\n  }\r\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"Central US\",\"Slice\":\"E\",\"Ring\":\"2\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"DS3PEPF00001666\"}}"
            }
          ],
          "status": 400,
          "statu[...]
