{
  "log": {
    "_recordingName": "iterateGroupMembersSelectProperties",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2531614bff07ad1a156094ab128f650a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/a76fc728-0cba-45f0-a9eb-d45207e14513/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1675,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 318,
      },
      {
        "_id": "8728a81079c44a4cbd85848abf96664e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=6)"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$select",
              "value": "id,displayName"
            }
          ],
          "url": "https://graph.microsoft.com/v1.0/groups/1c417feb-b04f-46c9-a747-614d6d03f348/members?%24select=id%2CdisplayName"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 447,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#directoryObjects(id,displayName)\",\"value\":[{\"@odata.type\":\"#microsoft.graph.user\",\"id\":\"d0e84358-ed79-4ae0-9157-83d3a0ef9b78\",\"displayName\":\"Adam Williams\"},{\"@odata.type\":\"#microsoft.graph.user\",\"id\":\"1bc373cb-36d4-4fd9-8996-b77d3544a380\",\"displayName\":\"adam\"},{\"@odata.type\":\"#microsoft.graph.group\",\"id\":\"58e48aba-cd45-440f-a851-2bf9715fadc1\",\"displayName\":\"Managers\"},{\"@odata.type\":\"#microsoft.graph.user\",\"id\":\"001d35fc-dd2b-4d17-9ffc-3bafa265e7d9\",\"displayName\":\"Michael Knoedel\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"Central US\",\"Slice\":\"SliceC\",\"Ring\":\"2\",\"ScaleUnit\":\"001\",\"RoleInstance\":\"AGSFE_IN_6\"}}"
            },
            {
              "name": "x-ms-resource-unit",
              "value": "2"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 226,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
