{
  "log": {
    "_recordingName": "fetchDeviceConfigurations",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2531614bff07ad1a156094ab128f650a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/a76fc728-0cba-45f0-a9eb-d45207e14513/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1687,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 540,
      },
      {
        "_id": "aa0c31e981e4e2cbe86f959b526ca734",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.2.1 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/deviceManagement/deviceConfigurations"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 3175,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#deviceManagement/deviceConfigurations\",\"value\":[{\"@odata.type\":\"#microsoft.graph.iosCustomConfiguration\",\"id\":\"6aa605f0-744e-4ae1-8031-c6564624c89b\",\"lastModifiedDateTime\":\"2021-02-17T18:31:21.3225031Z\",\"createdDateTime\":\"2021-02-17T18:31:21.3225031Z\",\"description\":null,\"displayName\":\"Test configuration policy\",\"version\":1,\"payloadName\":\"Test fake profile\",\"payloadFileName\":\"lastSuccessfulBuildId.txt\",\"payload\":\"MTk3\"},{\"@odata.type\":\"#microsoft.graph.windows10GeneralConfiguration\",\"id\":\"c271a86c-a62a-4655-ac1e-a28f67fd3e18\",\"lastModifiedDateTime\":\"2021-02-25T20:56:29.5465785Z\",\"createdDateTime\":\"2021-02-25T20:56:29.1537954Z\",\"description\":\"Description\",\"displayName\":\"Test Windows 10 Device Restrictions Configuration Profile\",\"version\":2,\"enterpriseCloudPrintDiscoveryEndPoint\":null,\"enterpriseCloudPrintOAuthAuthority\":null,\"enterpriseCloudPrintOAuthClientIdentifier\":null,\"enterpriseCloudPrintResourceIdentifier\":null,\"enterpriseCloudPrintDiscoveryMaxLimit\":null,\"enterpriseCloudPrintMopriaDiscoveryResourceIdentifier\":null,\"searchBlockDiacritics\":false,\"searchDisableAutoLanguageDetection\":false,\"searchDisableIndexingEncryptedItems\":false,\"searchEnableRemoteQueries\":false,\"searchDisableIndexerBackoff\":false,\"searchDisableIndexingRemovableDrive\":false,\"searchEnableAutomaticIndexSizeManangement\":false,\"diagnosticsDataSubmissionMode\":\"userDefined\",\"oneDriveDisableFileSync\":false,\"smartScreenEnableAppInstallControl\":false,\"personalizationDesktopImageUrl\":null,\"personalizationLockScreenImageUrl\":null,\"bluetoothAllowedServices\":[],\"bluetoothBlockAdvertising\":false,\"bluetoothBlockDiscoverableMode\":false,\"bluetoothBlockPrePairing\":false,\"edgeBlockAutofill\":false,\"edgeBlocked\":false,\"edgeCookiePolicy\":\"userDefined\",\"edgeBlockDeveloperTools\":false,\"edgeBlockSendingDoNotTrackHeader\":false,\"edgeBlockExtensions\":false,\"edgeBlockInPrivateBrowsing\":false,\"edgeBlockJavaScript\":false,\"edgeBlockPasswordManager\":false,\"edgeBlockAddressBarDropdown\":false,\"edgeBlockCompatibilityList\":false,\"edgeClearBrowsingDataOnExit\":false,\"edgeAllowStartPagesModification\":false,\"edgeDisableFirstRunPage\":false,\"edgeBlockLiveTileDataCollection\":false,\"edgeSyncFavoritesWithInternetExplorer\":false,\"cellularBlockDataWhenRoaming\":false,\"cellularBlockVpn\":false,\"cellularBlockVpnWhenRoaming\":false,\"defenderRequireRealTimeMonitoring\":false,\"defenderRequireBehaviorMonitoring\":false,\"defenderRequireNetworkInspectionSystem\":false,\"defenderScanDownloads\":false,\"defenderScanScriptsLoadedInInternetExplorer\":false,\"defenderBlockEndUserAccess\":false,\"defenderSignatureUpdateIntervalInHours\":null,\"defenderMonitorFileActivity\":\"userDefined\",\"defenderDaysBeforeDeletingQuarantinedMalware\":null,\"defenderScanMaxCpu\":null,\"defenderScanArchiveFiles\":false,\"defenderScanIncomingMail\":false,\"defenderScanRemovableDrivesDuringFullScan\":false,\"defenderScanMappedNetworkDrivesDuringFullScan\":false,\"defenderScanNetworkFiles\":false,\"defenderRequireCloudProtection\":false,\"defenderCloudBlockLevel\":\"notConfigured\",\"defenderPromptForSampleSubmission\":\"userDefined\",\"defenderScheduledQuickScanTime\":null,\"defenderScanType\":\"userDefined\",\"defenderSystemScanSchedule\":\"userDefined\",\"defenderScheduledScanTime\":null,\"defenderDetectedMalwareActions\":null,\"defenderFileExtensionsToExclude\":[],\"defenderFilesAndFoldersToExclude\":[],\"defenderProcessesToExclude\":[],\"lockScreenAllowTimeoutConfiguration\":false,\"lockScreenBlockActionCenterNotifications\":false,\"lockScreenBlockCortana\":false,\"lockScreenBlockToastNotifications\":false,\"lockScreenTimeoutInSeconds\":null,\"passwordBlockSimple\":false,\"passwordExpirationDays\":null,\"passwordMinimumLength\":null,\"passwordMinutesOfInactivityBeforeScreenTimeout\":null,\"passwordMinimumCharacterSetCount\":null,\"passwordPreviousPasswordBlockCount\":null,\"passwordRequired\":false,\"passwordRequireWhenResumeFromIdleState\":false,\"passwordRequiredType\":\"deviceDefault\",\"passwordSignInFailureCountBeforeFactoryReset\":null,\"privacyAdvertisingId\":\"notConfigured\",\"privacyAutoAcceptPairingAndConsentPrompts\":false,\"privacyBlockInputPersonalization\":false,\"startBlockUnpinningAppsFromTaskbar\":false,\"startMenuAppListVisibility\":\"userDefined\",\"startMenuHideChangeAccountSettings\":false,\"startMenuHideFrequentlyUsedApps\":false,\"startMenuHideHibernate\":false,\"startMenuHideLock\":false,\"startMenuHidePowerButton\":false,\"startMenuHideRecentJumpLists\":false,\"startMenuHideRecentlyAddedApps\":false,\"startMenuHideRestartOptions\":false,\"startMenuHideShutDown\":false,\"startMenuHideSignOut\":false,\"startMenuHideSleep\":false,\"startMenuHideSwitchAccount\":false,\"startMenuHideUserTile\":false,\"startMenuLayoutEdgeAssetsXml\":null,\"startMenuLayoutXml\":null,\"startMenuMode\":\"userDefined\",\"startMenuPinnedFolderDocuments\":\"notConfigured\",\"startMenuPinnedFolderDownloads\":\"notConfigured\",\"startMenuPinnedFolderFileExplorer\":\"notConfigured\",\"startMenuPinnedFolderHomeGroup\":\"notConfigured\",\"startMenuPinnedFolderMusic\":\"notConfigured\",\"startMenuPinnedFolderNetwork\":\"notConfigured\",\"startMenuPinnedFolderPersonalFolder\":\"notConfigured\",\"startMenuPinnedFolderPictures\":\"notConfigured\",\"startMenuPinnedFolderSettings\":\"notConfigured\",\"startMenuPinnedFolderVideos\":\"notConfigured\",\"settingsBlockSettingsApp\":false,\"settingsBlockSystemPage\":false,\"settingsBlockDevicesPage\":false,\"settingsBlockNetworkInternetPage\":false,\"settingsBlockPersonalizationPage\":false,\"settingsBlockAccountsPage\":false,\"settingsBlockTimeLanguagePage\":false,\"settingsBlockEaseOfAccessPage\":false,\"settingsBlockPrivacyPage\":false,\"settingsBlockUpdateSecurityPage\":false,\"settingsBlockAppsPage\":false,\"settingsBlockGamingPage\":false,\"windowsSpotlightBlockConsumerSpecificFeatures\":false,\"windowsSpotlightBlocked\":false,\"windowsSpotlightBlockOnActionCenter\":false,\"windowsSpotlightBlockTailoredExperiences\":false,\"windowsSpotlightBlockThirdPartyNotifications\":false,\"windowsSpotlightBlockWelcomeExperience\":false,\"windowsSpotlightBlockWindowsTips\":false,\"windowsSpotlightConfigureOnLockScreen\":\"notConfigured\",\"networkProxyApplySettingsDeviceWide\":false,\"networkProxyDisableAutoDetect\":false,\"networkProxyAutomaticConfigurationUrl\":null,\"networkProxyServer\":null,\"accountsBlockAddingNonMicrosoftAccountEmail\":false,\"antiTheftModeBlocked\":false,\"bluetoothBlocked\":false,\"cameraBlocked\":false,\"connectedDevicesServiceBlocked\":false,\"certificatesBlockManualRootCertificateInstallation\":false,\"copyPasteBlocked\":false,\"cortanaBlocked\":false,\"deviceManagementBlockFactoryResetOnMobile\":false,\"deviceManagementBlockManualUnenroll\":false,\"safeSearchFilter\":\"userDefined\",\"edgeBlockPopups\":false,\"edgeBlockSearchSuggestions\":false,\"edgeBlockSendingIntranetTrafficToInternetExplorer\":false,\"edgeSendIntranetTrafficToInternetExplorer\":false,\"edgeRequireSmartScreen\":false,\"edgeEnterpriseModeSiteListLocation\":null,\"edgeFirstRunUrl\":null,\"edgeSearchEngine\":null,\"edgeHomepageUrls\":[],\"edgeBlockAccessToAboutFlags\":false,\"smartScreenBlockPromptOverride\":false,\"smartScreenBlockPromptOverrideForFiles\":false,\"webRtcBlockLocalhostIpAddress\":false,\"internetSharingBlocked\":false,\"settingsBlockAddProvisioningPackage\":false,\"settingsBlockRemoveProvisioningPackage\":false,\"settingsBlockChangeSystemTime\":false,\"settingsBlockEditDeviceName\":false,\"settingsBlockChangeRegion\":false,\"settingsBlockChangeLanguage\":false,\"settingsBlockChangePowerSleep\":false,\"locationServicesBlocked\":false,\"microsoftAccountBlocked\":false,\"microsoftAccountBlockSettingsSync\":false,\"nfcBlocked\":false,\"resetProtectionModeBlocked\":false,\"screenCaptureBlocked\":true,\"storageBlockRemovableStorage\":false,\"storageRequireMobileDeviceEncryption\":false,\"usbBlocked\":false,\"voiceRecordingBlocked\":false,\"wiFiBlockAutomaticConnectHotspots\":false,\"wiFiBlocked\":false,\"wiFiBlockManualConfiguration\":false,\"wiFiScanInterval\":null,\"wirelessDisplayBlockProjectionToThisDevice\":false,\"wirelessDisplayBlockUserInputFromReceiver\":false,\"wirelessDisplayRequirePinForPairing\":false,\"windowsStoreBlocked\":false,\"appsAllowTrustedAppsSideloading\":\"notConfigured\",\"windowsStoreBlockAutoUpdate\":false,\"developerUnlockSetting\":\"notConfigured\",\"sharedUserAppDataAllowed\":false,\"appsBlockWindowsStoreOriginatedApps\":false,\"windowsStoreEnablePrivateStoreOnly\":false,\"storageRestrictAppDataToSystemVolume\":false,\"storageRestrictAppInstallToSystemVolume\":false,\"gameDvrBlocked\":false,\"experienceBlockDeviceDiscovery\":false,\"experienceBlockErrorDialogWhenNoSIM\":false,\"experienceBlockTaskSwitcher\":false,\"logonBlockFastUserSwitching\":false,\"tenantLockdownRequireNetworkDuringOutOfBoxExperience\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"South Central US\",\"Slice\":\"SliceC\",\"Ring\":\"4\",\"ScaleUnit\":\"001\",\"RoleInstance\":\"AGSFE_IN_13\"}}"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 543,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
