{
  "log": {
    "_recordingName": "fetchAccount",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2531614bff07ad1a156094ab128f650a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/a76fc728-0cba-45f0-a9eb-d45207e14513/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1849,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 369,
      },
      {
        "_id": "39cb0d299503e6ab1f6a07ceece09c83",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.2.1 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/organization"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 4340,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#organization\",\"value\":[{\"@odata.id\":\"https://graph.microsoft.com/v2/a76fc728-0cba-45f0-a9eb-d45207e14513/directoryObjects/a76fc728-0cba-45f0-a9eb-d45207e14513/Microsoft.DirectoryServices.Organization\",\"id\":\"a76fc728-0cba-45f0-a9eb-d45207e14513\",\"deletedDateTime\":null,\"businessPhones\":[],\"city\":null,\"country\":null,\"countryLetterCode\":\"US\",\"createdDateTime\":\"2019-09-04T16:59:36Z\",\"displayName\":\"Default Directory\",\"isMultipleDataLocationsForServicesEnabled\":null,\"marketingNotificationEmails\":[],\"onPremisesLastSyncDateTime\":null,\"onPremisesSyncEnabled\":null,\"postalCode\":null,\"preferredLanguage\":\"en\",\"securityComplianceNotificationMails\":[],\"securityComplianceNotificationPhones\":[],\"state\":null,\"street\":null,\"technicalNotificationMails\":[\"adam.jupiterone@hotmail.com\"],\"tenantType\":\"AAD\",\"directorySizeQuota\":{\"used\":569,\"total\":50000},\"privacyProfile\":null,\"assignedPlans\":[{\"assignedDateTime\":\"2021-03-15T14:57:06Z\",\"capabilityStatus\":\"Suspended\",\"service\":\"MicrosoftKaizala\",\"servicePlanId\":\"54fc630f-5a40-48ee-8965-af0503c1386e\"},{\"assignedDateTime\":\"2021-03-15T14:57:06Z\",\"capabilityStatus\":\"Suspended\",\"service\":\"CRM\",\"servicePlanId\":\"4ff01e01-1ba7-4d71-8cf8-ce96c3bbcf14\"},{\"assignedDateTime\":\"2021-03-15T14:57:06Z\",\"capabilityStatus\":\"Suspended\",\"service\":\"exchange\",\"servicePlanId\":\"33c4f319-9bdd-48d6-9c4d-410b750a4a5a\"},{\"assignedDateTime\":\"2021-03-15T14:57:07Z\",\"capabilityStatus\":\"Suspended\",\"service\":\"MicrosoftCommunicationsOnline\",\[...]
