{
  "log": {
    "_recordingName": "iterateGroupsInaccessible",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "c2992bb6a3179ae6126bd323b2792110",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/d68d7cbe-a848-4b5a-98d6-d7b3d6f3dfc0/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1415,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 295,
      },
      {
        "_id": "1a76a04bfeb51b911fd95b58baabd4b2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=6)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/groups"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 349,
            "text": "{\r\n  \"error\": {\r\n    \"code\": \"Authorization_IdentityNotFound\",\r\n    \"message\": \"The identity of the calling application could not be established.\",\r\n    \"innerError\": {\r\n      \"date\": \"2021-01-13T20:00:13\",\r\n      \"request-id\": \"c4a8b362-40fa-4830-937c-8dbbfba1d96d\",\r\n      \"client-request-id\": \"08afad47-de18-5067-7f7b-88bd55951572\"\r\n    }\r\n  }\r\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"Central US\",\"Slice\":\"SliceC\",\"Ring\":\"2\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"AGSFE_IN_1\"}}"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 357,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
