{
  "log": {
    "_recordingName": "fetchOrganizationInaccessible",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "c2992bb6a3179ae6126bd323b2792110",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/d68d7cbe-a848-4b5a-98d6-d7b3d6f3dfc0/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1312,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 248,
      },
      {
        "_id": "39cb0d299503e6ab1f6a07ceece09c83",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=6)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/organization"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 281,
            "text": "{\r\n  \"error\": {\r\n    \"code\": \"Authorization_IdentityNotFound\",\r\n    \"message\": \"The identity of the calling application could not be established.\",\r\n    \"innerError\": {\r\n      \"date\": \"2020-06-28T18:35:06\",\r\n      \"request-id\": \"05af3ffe-0b9c-44df-8e30-a3a04804f0fa\"\r\n    }\r\n  }\r\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"East US\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"005\",\"RoleInstance\":\"AGSFE_IN_28\"}}"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 148,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
