{
  "log": {
    "_recordingName": "verifyAuthenticationInvalidDirectory",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "c02401b9ae4306afd3d59aba8c179b37",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/abc123testing/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 629,
            "text": "{\"error\":\"invalid_request\",\"error_description\":\"AADSTS90002: Tenant 'abc123testing' not found. This may happen if there are no active subscriptions for the tenant. Check to make sure you have the correct tenant ID. Check with your subscription administrator.\\r\\nTrace ID: 4f693334-e692-42a4-8e52-73d8ac194300\\r\\nCorrelation ID: 758b79ee-1190-4785-b84a-34cc230971af\\r\\nTimestamp: 2021-01-13 19:56:34Z\",\"error_codes\":[90002],\"timestamp\":\"2021-01-13 19:56:34Z\",\"trace_id\":\"4f693334-e692-42a4-8e52-73d8ac194300\",\"correlation_id\":\"758b79ee-1190-4785-b84a-34cc230971af\",\"error_uri\":\"https://login.microsoftonline.com/error?code=90002\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 263,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
