{
  "log": {
    "_recordingName": "verifyAuthenticationInvalidDirectory",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "c02401b9ae4306afd3d59aba8c179b37",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/abc123testing/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 629,
            "text": "{\"error\":\"invalid_request\",\"error_description\":\"AADSTS90002: Tenant 'abc123testing' not found. This may happen if there are no active subscriptions for the tenant. Check to make sure you have the correct tenant ID. Check with your subscription administrator.\\r\\nTrace ID: a49e40ed-c3ae-4523-9e29-5580be42c800\\r\\nCorrelation ID: faf3e2b0-c1fd-42cb-a009-4adcfdc02161\\r\\nTimestamp: 2020-06-28 18:35:04Z\",\"error_codes\":[90002],\"timestamp\":\"2020-06-28 18:35:04Z\",\"trace_id\":\"a49e40ed-c3ae-4523-9e29-5580be42c800\",\"correlation_id\":\"faf3e2b0-c1fd-42cb-a009-4adcfdc02161\",\"error_uri\":\"https://login.microsoftonline.com/error?code=90002\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 224,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
